@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Lobster&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-style {
  background-color: #006992;
  color: #D7D6D6;
}

h1 {
  font-family: 'Lobster', cursive;
}

.form-control {
  font-family: 'IBM Plex Mono', monospace;
  /* background-color: #FEC85D; */
  color: #050609;
}

.card-body {
  color: #050609;
}