@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Lobster&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-style {
  background-color: #006992;
  color: #D7D6D6;
}

h1 {
  font-family: 'Lobster', cursive;
}

.form-control {
  font-family: 'IBM Plex Mono', monospace;
  /* background-color: #FEC85D; */
  color: #050609;
}

.card-body {
  color: #050609;
}

/* https://css-tricks.com/almanac/properties/l/line-clamp/ */
.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* https://stackoverflow.com/questions/21544902/pressed-button-effect-for-bootstrap-3-button */
.btn-custom {
  border-bottom: 2px solid #050609;
  position: relative;
}

.btn-custom:hover {
  top: 2.5px;
  border-bottom-width: 1px;
}

.btn-custom:active {
  top: 5px;
  border-bottom: 0;
}